@charset "UTF-8";
@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/SpaceGrotesk-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/SpaceGrotesk-Medium.ttf");
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Space Grotesk";
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 124rem;
  padding-top: 6rem;
}
@media all and (max-width: 1300px) {
  .page {
    padding-top: 3rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Grotesk";
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 6rem;
}
@media all and (max-width: 500px) {
  h1 {
    font-size: 4.3rem;
  }
}

h2 {
  font-size: 4rem;
}
@media all and (max-width: 500px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 3rem;
}
@media all and (max-width: 500px) {
  h3 {
    font-size: 2.6rem;
  }
}

h4 {
  font-size: 2rem;
}
@media all and (max-width: 500px) {
  h4 {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.8rem;
  margin: 0;
}
@media all and (max-width: 500px) {
  p {
    font-size: 1.6rem;
  }
}

.partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 5rem;
  width: 100%;
}
@media all and (max-width: 1300px) {
  .partners {
    column-gap: 3rem;
  }
}
.partners img {
  filter: grayscale(100);
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}
@media all and (max-width: 1300px) {
  .header {
    padding: 0 2rem;
  }
}

/* 
all - любое устройство
print - версия для печати документа
screen - любые устройства с экранами
speech - синтезаторы речи

@media all (
    max-width: 1200px - максимальная ширина, для которой будут применяться стили
    min-width: 1200px - минимальная ширина, для которой будут применяться стили
    aspect-ratio: 16/9
    orientation: landscape или portrait
    resolution: 200dpi
    ... 
) {
  здесь пишем обычные стили
} */
.logo {
  width: 100%;
  max-width: 22rem;
}
@media all and (max-width: 1300px) {
  .logo {
    max-width: 14.4rem;
  }
}
.logo_header {
  position: relative;
  z-index: 2;
}
.logo_footer {
  max-width: 18rem;
}

.nav {
  display: flex;
  font-size: 2rem;
  gap: 4rem;
  align-items: center;
  margin-left: auto;
}
@media all and (max-width: 1300px) {
  .nav {
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    background-color: white;
    row-gap: 4rem;
    padding: 10rem 6rem 4rem;
    height: 100vh;
    width: 100%;
    max-width: 30rem;
    z-index: 1;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
}
@media all and (max-width: 500px) {
  .nav {
    max-width: 100%;
  }
}
.nav_active {
  transform: translateX(0);
  transition: all 0.3s ease-in;
}
.nav__link {
  text-decoration: none;
  color: black;
  flex-shrink: 0;
}
.nav_footer .nav__link {
  color: #ffffff;
}

.btn {
  border-radius: 1.4rem;
  padding: 2rem 3.5rem;
  font-size: 2rem;
  color: #191a23;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline-width: 0;
}
@media all and (max-width: 1300px) {
  .btn {
    width: 100%;
  }
}
@media (hover: hover) {
  .btn {
    transition: all 0.3s ease-out;
  }
  .btn:hover, .btn:active {
    transition: all 0.3s ease-in;
  }
}
.btn_primary {
  color: #ffffff;
  background-color: #191a23;
}
@media (hover: hover) {
  .btn_primary:hover, .btn_primary:active {
    color: #000000;
    background-color: #b9ff66;
  }
}
.btn_secondary {
  background-color: #b9ff66;
}
@media (hover: hover) {
  .btn_secondary:hover, .btn_secondary:active {
    color: #ffffff;
    background-color: #191a23;
  }
}
.btn_outline {
  border: 1px solid #191a23;
}
@media (hover: hover) {
  .btn_outline:hover, .btn_outline:active {
    color: #ffffff;
    background-color: #191a23;
  }
}
.btn_header {
  margin-left: 4rem;
}
@media all and (max-width: 1300px) {
  .btn_header {
    display: none;
  }
}
.btn_team {
  margin-left: auto;
  width: fit-content;
  padding: 2rem 7.6rem;
}
.btn_footer {
  width: fit-content;
  line-height: 140%;
}

.menu {
  width: 2.4rem;
  display: none;
  margin-left: auto;
  position: relative;
  z-index: 2;
}
@media all and (max-width: 1300px) {
  .menu {
    display: block;
  }
}

.icon_plus, .icon_minus {
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 50%;
  border: 1px solid #191a23;
  background-color: #f3f3f3;
  position: relative;
}
@media all and (max-width: 1300px) {
  .icon_plus, .icon_minus {
    width: 3rem;
    height: 3rem;
  }
}
.icon_plus::before, .icon_minus::before {
  content: "";
  display: block;
  width: 1.8rem;
  height: 0.6rem;
  background-color: #191a23;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media all and (max-width: 1300px) {
  .icon_plus::before, .icon_minus::before {
    width: 1.3rem;
    height: 0.3rem;
  }
}
.icon_plus::after {
  content: "";
  display: block;
  width: 0.6rem;
  height: 1.8rem;
  background-color: #191a23;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media all and (max-width: 1300px) {
  .icon_plus::after {
    width: 0.3rem;
    height: 1.3rem;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  column-gap: 1.5rem;
}
.link__decor {
  background-color: #191a23;
}
.link__decor_green {
  background-color: #b9ff66;
}
.link__decor_white {
  background-color: #ffffff;
}
.link__icon {
  width: 2rem;
  height: 2rem;
  fill: #191a23;
}
.link_round .link__decor {
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 50%;
  position: relative;
}
.link_round .link__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.link_color_white {
  color: #ffffff;
}
.link_color_green {
  color: #b9ff66;
}
.link_icon_white .link__icon {
  fill: #ffffff;
}
.link_icon_green .link__icon {
  fill: #b9ff66;
}

.heading span {
  display: inline-block;
  border-radius: 0.7rem;
  padding: 0 0.7rem;
}
.heading_cases {
  min-width: 27rem;
}
.heading_steps {
  min-width: 41.2rem;
}
.heading_bg_white span {
  background-color: #ffffff;
}
.heading_bg_green span {
  background-color: #b9ff66;
}
.heading_bg_black span {
  background-color: #000000;
  color: #ffffff;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 7rem 0;
}
@media all and (max-width: 1300px) {
  .section {
    padding: 0 2rem;
    margin: 3rem 0;
  }
}
.section_first {
  position: relative;
}
.section_first .section__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 53rem;
  margin-bottom: 10.5rem;
  row-gap: 3.5rem;
}
@media all and (max-width: 1300px) {
  .section_first .section__container {
    margin: 0 auto 6rem;
    max-width: 100rem;
  }
}
@media all and (max-width: 500px) {
  .section_first .section__container {
    row-gap: 1rem;
  }
}
@media all and (max-width: 500px) {
  .section_first p {
    margin-bottom: 3rem;
  }
}
.section_second .section__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-bottom: 12rem;
}
@media all and (max-width: 1300px) {
  .section_second .section__cards {
    margin-bottom: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(39rem, 1fr));
    gap: 3rem;
  }
}
@media all and (max-width: 500px) {
  .section_second .section__cards {
    grid-template-columns: 1fr;
  }
}
.section_fourth .section__steps {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.section_fifth .section__team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin-bottom: 4rem;
}
.section_sixth .section__slider {
  border-radius: 4.5rem;
}
.section_seventh .section__form {
  border-radius: 4.5rem;
  background-color: #f3f3f3;
  overflow: hidden;
  position: relative;
}
.section__img {
  position: absolute;
  top: 0;
  right: 0;
}
@media all and (max-width: 1300px) {
  .section__img {
    position: relative;
    width: 100%;
    max-width: 60rem;
  }
}
@media all and (max-width: 500px) {
  .section__img {
    margin-bottom: 1rem;
  }
}
.section__header {
  display: flex;
  column-gap: 4rem;
  max-width: 80rem;
  margin-bottom: 8rem;
}
.section__header_cases {
  max-width: 89rem;
}
.section__header_contact-us p {
  max-width: 32rem;
}
@media all and (max-width: 1300px) {
  .section__header {
    flex-direction: column;
    row-gap: 3rem;
    margin: 0 auto 4rem;
    justify-content: center;
    text-align: center;
  }
}

.card_service {
  border-radius: 4.5rem;
  border: 1px solid #191a23;
  box-shadow: 0 5px 0 0 #191a23;
  padding: 5rem;
  width: 100%;
  max-width: 60rem;
  min-height: 31rem;
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title img" "link img";
}
@media all and (max-width: 1300px) {
  .card_service {
    grid-template-areas: "title title" "link img";
    grid-template-rows: auto;
    max-width: 100%;
    row-gap: 3rem;
  }
}
.card_service .link {
  grid-area: link;
  margin-top: auto;
}
@media all and (max-width: 1300px) {
  .card_service .link__text {
    display: none;
  }
}
.card_service .card__img {
  grid-area: img;
  margin: auto 0 auto auto;
}
@media all and (max-width: 1300px) {
  .card_service .card__img {
    max-width: 16.5rem;
  }
}
.card_service .heading {
  grid-area: title;
}
.card_bg_dark {
  background-color: #191a23;
}
.card_bg_green {
  background-color: #b9ff66;
}
.card_proposal {
  display: grid;
  grid-template-columns: 50rem;
  justify-items: flex-start;
  width: 100%;
  padding: 6rem;
  position: relative;
  background-color: #f3f3f3;
  border-radius: 4.5rem;
  row-gap: 2.6rem;
}
@media all and (max-width: 1300px) {
  .card_proposal {
    grid-template-columns: 1fr;
    padding: 5rem;
    row-gap: 2rem;
  }
}
.card_proposal img {
  position: absolute;
  top: 50%;
  right: 13.5rem;
  transform: translateY(-50%);
}
@media all and (max-width: 1300px) {
  .card_proposal img {
    display: none;
  }
}

.studies {
  display: flex;
  background-color: #191a23;
  border-radius: 4.5rem;
}
.studies__case {
  padding: 7rem 6.4rem 9.3rem 6rem;
  position: relative;
  flex: 1;
}
.studies__case:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 15%;
  right: 0;
  width: 1px;
  height: 60%;
  background-color: #ffffff;
}
.studies__case_description {
  color: #ffffff;
  margin-bottom: 2rem;
}

.step {
  border-radius: 4.5rem;
  border: 1px solid #191a23;
  box-shadow: 0 5px 0 0 #191a23;
  width: 100%;
  max-width: 123.4rem;
  min-height: 16rem;
  background-color: #f3f3f3;
}
.step__header {
  display: flex;
  align-items: center;
  padding: 4rem 5.7rem;
  border-radius: 4.5rem 4.5rem 0 0;
}
input[type=checkbox]:checked ~ .step__header {
  padding: 4rem 5.7rem 0 5.7rem;
}
.step__number {
  font-size: 6rem;
  margin-right: 1.9rem;
}
.step .icon {
  margin-left: auto;
  cursor: pointer;
}
.step__content {
  position: relative;
  max-height: 0;
  padding: 0 5.7rem;
  border-radius: 0 0 4.5rem 4.5rem;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.step__content::before {
  content: "";
  position: absolute;
  top: 0%;
  height: 1px;
  width: 0%;
  transition: width 0.3s ease-in-out;
  background-color: #000000;
}
input[type=checkbox]:checked ~ .step__content {
  max-height: 16rem;
  padding-top: 6rem;
  padding-bottom: 4.1rem;
  transition: max-height 0.5s ease-in-out;
}
input[type=checkbox]:checked ~ .step__content::before {
  top: 30%;
  width: 90.7%;
}
.step input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ .step__header, input[type=checkbox]:checked ~ .step__content {
  background-color: #b9ff66;
}

.employee {
  border-radius: 4.5rem;
  border: 1px solid #191a23;
  box-shadow: 0 5px 0 0 #191a23;
  padding: 4rem 3.5rem;
  width: 100%;
  max-width: 38.7rem;
  min-height: 33.1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "header" "content";
}
.employee__header {
  display: grid;
  grid-area: header;
  max-height: 10.3rem;
  margin-bottom: 3.4rem;
  position: relative;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "photo description" "photo description";
}
.employee__header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -17%;
  background-color: #191a23;
}
.employee__photo {
  grid-area: photo;
  margin-right: 1.9rem;
}
.employee__description {
  grid-area: description;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "linkedIn" "fio";
}
.employee__fio {
  grid-area: fio;
  margin-top: auto;
}
.employee__linkedin {
  grid-area: linkedIn;
  text-align: right;
  max-height: 3.4rem;
}
.employee__content {
  grid-area: content;
}

.slider {
  padding: 8.4rem 0 6.8rem 0;
  background-color: #191a23;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  gap: 12rem;
}
.slider__track {
  display: flex;
  justify-content: center;
  width: max-content;
  gap: 5rem;
}
.slider__card {
  max-width: 60rem;
}
.slider__quote {
  border: 1px solid #b9ff66;
  color: #ffffff;
  border-radius: 4rem;
  padding: 5rem;
  position: relative;
  margin-bottom: 4rem;
}
.slider__quote::after {
  content: "";
  position: absolute;
  bottom: -1.9rem;
  left: 7rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #191a23;
  border-left: 1px solid #b9ff66;
  border-bottom: 1px solid #b9ff66;
  transform: rotate(-45deg);
}
.slider__author {
  padding-left: 8rem;
}
.slider__author h4 {
  color: #b9ff66;
}
.slider__author p {
  color: #ffffff;
}
.slider__controls {
  display: flex;
  max-width: 56.4rem;
  max-height: 1.4rem;
  gap: 19rem;
}
.slider__arrow {
  fill: #ffffff;
  width: 2rem;
  height: 2rem;
}
.slider__arrow_right {
  transform: rotate(30deg);
}
.slider__arrow_left {
  transform: rotate(-150deg);
}
.slider__dots {
  display: flex;
  gap: 1.9rem;
}
.slider__dot {
  width: 1.4rem;
  height: 1.4rem;
  fill: #ffffff;
}
.slider__dot_green {
  fill: #b9ff66;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 55.6rem;
  margin: 6rem 0 8rem 10rem;
}
.form__img {
  position: absolute;
  top: 8.1%;
  bottom: 8.1%;
  transform: translate(126%, 0);
}
.form__inner {
  display: flex;
  margin-bottom: 4rem;
  gap: 3.5rem;
}
.form__radio {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.form__radio label {
  font-size: 1.8rem;
}
.form__radio input[type=radio] {
  appearance: none;
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.form__radio input[type=radio]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem; /* Размер внутреннего круга */
  height: 1.5rem;
  background-color: transparent; /* По умолчанию прозрачный */
  border-radius: 50%;
}
.form__radio input[type=radio]:checked::before {
  background-color: #b9ff66; /* Цвет внутреннего круга */
}
.form__inputs {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
.form__inputs input {
  margin-bottom: 2.5rem;
}
.form__inputs label {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}
.form__inputs input,
.form__inputs textarea {
  font-size: 1.8rem;
  padding: 1.8rem 3rem;
  border-radius: 1.4rem;
  border: 1px solid #191a23;
}
.form__inputs textarea {
  min-height: 19rem;
}

.footer {
  background-color: #000000;
  border-radius: 4.5rem 4.5rem 0 0;
  padding: 5.5rem 6rem 5rem;
}
.footer__header {
  margin-bottom: 6.65rem;
}
.footer__title-h4 {
  background-color: #b9ff66;
  border-radius: 0.7rem;
  padding: 0 0.7rem;
  width: fit-content;
  margin-bottom: 2.7rem;
}
.footer__links {
  display: flex;
  margin-left: 15.5rem;
  gap: 2rem;
}
.footer__middle {
  display: flex;
  justify-content: space-between;
}
.footer__middle-left {
  max-width: 33.2rem;
}
.footer__middle-right {
  display: flex;
  gap: 2rem;
  max-width: 63.4rem;
  padding: 5.8rem 4rem;
  background-color: #191a23;
  border-radius: 1.4rem;
}
.footer__middle-right input {
  color: #ffffff;
  font-size: 1.8rem;
  max-width: 28.5rem;
  padding: 2.2rem 3.5rem;
  border-radius: 1.4rem;
  border: 1px solid #ffffff;
  background-color: transparent;
}
.footer__middle-right input::placeholder {
  color: #ffffff;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__contacts p {
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
