@use "variables" as vars;

* {
  box-sizing: border-box;
}

html {
  font-size: vars.$font-size-base;
  font-family: vars.$font-family;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 124rem;
  padding-top: 6rem;

  @media all and (max-width: vars.$media-m) {
    padding-top: 3rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: vars.$font-family;
  font-weight: vars.$weight-medium;
  margin: 0;
}

h1 {
  font-size: vars.$size-h1;

  @media all and (max-width: vars.$media-s) {
    font-size: vars.$size-h1-mob;
  }
}

h2 {
  font-size: vars.$size-h2;

  @media all and (max-width: vars.$media-s) {
    font-size: vars.$size-h2-mob;
  }
}

h3 {
  font-size: vars.$size-h3;

  @media all and (max-width: vars.$media-s) {
    font-size: vars.$size-h3-mob;
  }
}

h4 {
  font-size: vars.$size-h4;

  @media all and (max-width: vars.$media-s) {
    font-size: vars.$size-h4-mob;
  }
}

p {
  font-size: vars.$size-p;
  margin: 0;

  @media all and (max-width: vars.$media-s) {
    font-size: vars.$size-p-mob;
  }
}

.partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 5rem;
  width: 100%;

  @media all and (max-width: vars.$media-m) {
    column-gap: 3rem;
  }

  img {
    filter: grayscale(100);
  }
}
