@use 'variables' as vars;

.header {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	z-index: 100;

	@media all and (max-width: vars.$media-m) {
		padding: 0 2rem;
		// padding-top: 3rem;
	}

	&_header {
		// position: fixed;
		// top: 0;
		// left: 0;
		// right: 0;
		// z-index: 999;
		// padding-top: 6rem;
	}

	&__right {
		display: flex;
		z-index: 200;
	}
}

/* 
all - любое устройство
print - версия для печати документа
screen - любые устройства с экранами
speech - синтезаторы речи

@media all (
    max-width: 1200px - максимальная ширина, для которой будут применяться стили
    min-width: 1200px - минимальная ширина, для которой будут применяться стили
    aspect-ratio: 16/9
    orientation: landscape или portrait
    resolution: 200dpi
    ... 
) {
  здесь пишем обычные стили
} */
