@use 'variables' as vars;

.list {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	&__item {
		border-radius: vars.$radius-card;
		background-color: vars.$color-grey;
		border: 1px solid vars.$color-dark;
		box-shadow: 0 5px 0 0 vars.$color-dark;
		width: 100%;
		&_step {
			&.list__item_step_active {
				background-color: vars.$color-green;

				.icon_plus::after {
					opacity: 0;
					visibility: 0;
					transition: all 0.3s ease-in-out;
				}

				.list__item-header::after {
					height: 1px;
				}

				.list__item-content {
					max-height: 100rem;
					visibility: visible;
					overflow: auto;
					opacity: 1;
					padding: 3rem 5.7rem 4rem;
					transition: all 0.3s ease-in-out;

					@media all and (max-width: vars.$media-m) {
						padding: 3rem 3rem;
					}

					@media all and (max-width: vars.$media-s) {
						padding: 2rem 2rem;
					}
				}
			}
		}
		&-header {
			display: flex;
			align-items: center;
			padding: 3rem 5.7rem;
			border-radius: vars.$radius-card vars.$radius-card 0 0;
			cursor: pointer;
			position: relative;

			@media all and (max-width: vars.$media-m) {
				padding: 3rem 3rem;
			}

			@media all and (max-width: vars.$media-s) {
				h3 {
					font-size: 2.3rem;
				}

				padding: 2rem 2rem;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 4.65%;
				height: 0;
				width: 90.7%;
				background-color: vars.$color-black;
			}
		}

		&-content {
			visibility: hidden;
			overflow: hidden;
			opacity: 0;
			border-radius: 0 0 vars.$radius-card vars.$radius-card;
			max-height: 0;
			transition: all 0.3s ease-in-out;
		}
		&-number {
			font-size: vars.$size-number;
			margin-right: 1.9rem;

			@media all and (max-width: vars.$media-m) {
				font-size: vars.$size-number-mob;
			}
		}
		.icon {
			margin-left: auto;
			cursor: pointer;
			flex-shrink: 0;
		}
	}
}
