@use 'variables' as vars;

.burger-menu {
	display: none;
	z-index: 2;
	cursor: pointer;
}

#burger-toggle {
	display: none;
}

@media all and (max-width: vars.$media-m) {
	.burger-menu {
		position: relative;
		display: block;
		height: 25px;
		width: 30px;

		&::after,
		&::before,
		span {
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: vars.$color-black;
			transition: 0.3s;
		}

		&::before {
			content: '';
			top: 0;
		}

		&::after {
			content: '';
			bottom: 0;
		}

		span {
			top: 11px;
		}
	}

	#burger-toggle:checked ~ .burger-menu {
		&::after {
			transform: rotate(45deg);
			bottom: 10px;
		}

		&::before {
			transform: rotate(-45deg);
			top: 12px;
		}

		span {
			transform: rotate(-45deg);
			top: 12px;
		}
	}

	#burger-toggle:checked ~ .nav_header {
		transform: translateX(0);
	}
}
