@use 'variables' as vars;

.step {
	border-radius: vars.$radius-card;
	background-color: vars.$color-grey;
	border: 1px solid vars.$color-dark;
	box-shadow: 0 5px 0 0 vars.$color-dark;

	width: 100%;

	@media all and (max-width: vars.$media-m) {
		min-height: 13rem;
	}

	&.step_active {
		background-color: vars.$color-green;

		.icon_plus::after {
			opacity: 0;
			visibility: 0;
			transition: all 0.3s ease-in-out;
		}

		.step__header::after {
			height: 1px;
		}

		.step__content {
			max-height: 100rem;
			visibility: visible;
			overflow: auto;
			opacity: 1;
			padding: 3rem 5.7rem 4rem;
			transition: all 0.3s ease-in-out;
		}
	}

	&__content {
		visibility: hidden;
		overflow: hidden;
		opacity: 0;
		border-radius: 0 0 4.5rem 4.5rem;
		max-height: 0;
		transition: all 0.3s ease-in-out;
	}

	&__header {
		display: flex;
		align-items: center;
		padding: 4rem 5.7rem;
		border-radius: 4.5rem 4.5rem 0 0;
		cursor: pointer;
		position: relative;

		@media all and (max-width: vars.$media-m) {
			padding: 3rem 3rem;
			padding-bottom: 0;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 4.65%;
			height: 0;
			width: 90.7%;
			background-color: vars.$color-black;
		}
	}

	&__number {
		font-size: vars.$size-number;
		margin-right: 1.9rem;

		@media all and (max-width: vars.$media-m) {
			font-size: vars.$size-number-mob;
		}
	}

	.icon {
		margin-left: auto;
		cursor: pointer;
		flex-shrink: 0;
	}
}
