// colors
$color-green: #b9ff66;
$color-grey: #f3f3f3;
$color-dark: #191a23;
$color-black: #000000;
$color-white: #ffffff;

// font
$font-family: "Space Grotesk";
$font-size-base: 10px;

// size
$size-h1: 6rem;
$size-h2: 4rem;
$size-h3: 3rem;
$size-h4: 2rem;

$size-h1-mob: 4.3rem;
$size-h2-mob: 3.6rem;
$size-h3-mob: 2.6rem;
$size-h4-mob: 1.8rem;

$size-p: 1.8rem;
$size-p-mob: 1.6rem;

$size-btn: 2rem;

// weight
// 100, 200, 300, 400 .. 900
$weight-regular: 400;
$weight-medium: 500;

// media
$media-m: 1300px;
$media-s: 500px;

// radius
$radius-card: 4.5rem;
